[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
nltk = "*"
enchant = "*"
pyenchant = "*"
scikit-learn = "*"
gensim = "*"
matplotlib = "*"
pyldavis = "*"
np = "*"
ipython = "*"
bertopic = "*"

[dev-packages]

[requires]
python_version = "3.9"
